@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightgrey: #e2e2e2;
  --lightgrey-bg: #e2e2e2db;
  --lightgrey-hover: #f5f5f5;
  --grey:#a9a9ad;
  --green: #d1d332;
  --orange: #f47823;

  --grey-border:#c9c9c9;
  
}
