@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightgrey: #e2e2e2;
  --lightgrey-bg: #e2e2e2db;
  --lightgrey-hover: #f5f5f5;
  --product-bg: #ececec;
  --grey:#a9a9ad;
  --green: #fee000;
  --orange: #f47823;

  --grey-border:#c9c9c9;
  
}

.map-container {
  width: 100%;
  height: 100%;
}

.shadow-special-1 {
    --tw-shadow: 0px -10px 40px -20px rgb(0 0 0 / 0.15);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-special-2 {
  --tw-shadow: 0px 0px 40px -20px rgb(0 0 0 / 0.15);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}